<html>

<link href="/assets/events.css" media="screen" rel="stylesheet" type="text/css" />
<div id="container_box">
      <div class="span12" style="margin-left:20px;margin-top:10px;padding-right:20px;">
          
            <ul class="nav nav-tabs">
              <li style="width: 259px; text-align: center;"> <%= link_to "LIST", firstpage_events_path%></li>
              <li style="width: 259px; text-align: center;"><%= link_to "NEW EVENT", events_path %></li>
              <li class= "active" style="width: 259px; text-align: center;"> <%= link_to "CALENDAR", showcalender_events_path%></li>
   </ul>
  </div>
</br>
<div id="forcalendar">
<div id="calendar" >
</div>
</div>
</div>
</html>
  
