
#form_box
  {
    float:left;
    margin-left:20px;
    height: auto;
    width: 800px;
    padding-right: 20px;
    padding-bottom: 10px;
    border:2px solid #e3e3e3;
    color:#333;
    cursor:hand;
    background-color:white; 
    position: relative;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 

  }
#insideShow
{
    height:auto;
    padding-bottom: 5px;
}
#Question
  {
  	position : absolute;
    margin-top: 400px;
  	left :0px; 
    padding-top: 20px;
    border-style:none;
    border-width:1px;
    text-align: left;
    padding : 10px;
    width :800px;
     font-size:16px;
     border:2px solid #e3e3e3;
    color:#333;
    cursor:hand;
    background-color:white; 
  }

.option-large {
  height: 100px !important;
}

#show
  {
     position:absolute;
     float:left;
     left : 232px;
     height:auto;
     border-style:none;
    border-width:1px;
    text-align: left;
    padding : 10px;
    width :800px;
     font-size:16px;
     border:2px solid #e3e3e3;
    color:#333;
    cursor:hand;
    background-color:white;
  }

#answer
 {
    float:left;
    position: relative;
    margin-top: 270px;
    margin-left:30px;
    border-style:none;
    border-width:1px;
    text-align: left;
    padding : 10px;
    width :800px;
    font-size:16px;
    border:2px solid #e3e3e3;
    color:#333;
    cursor:hand;
    background-color:white;
 }

 #show_ans
 {
   top :500px;
  left:235px;
  width : 715px;
  position:absolute;
 }

