

#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: auto;
  min-width: 30px;
  border: 1px solid #e3e3e3;
  background-color: white;
  color: black;
  font-size: 0.95em;
}

#container_box {
	float:left;
    height: auto;
    margin-left:20px;
    width: 800px;
    padding-right: 20px;
    padding-bottom: 10px;
    border:2px solid #e3e3e3;
    cursor:hand;
    background-color:white; 
    position: relative;
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
#post_box {
	margin-left:15px;
}
#display_posts {
	background-color: #e3e3e3;
	 -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  
	padding-right: 10px;
	margin-left:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 500px;
	overflow-y: scroll;
}

#user_posts {
	padding: 30px;
	background: white; 
	border:2px solid #e3e3e3;
	margin-left:20px;
	margin-top:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

#kudos {
	margin-top:-20px;
	background-color: #e3e3e3;
	height:20px;
}

#description {
	border-radius: 0px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

table {
	width: 450px; 
	margin: 10px;
	font-size: 11pt;

}

#latest_posts {
	float:left;
    margin-left:30px;
    height: auto;
    width: 660px;
    padding-right: 20px;
    padding-bottom: 10px;
    border:2px solid #e3e3e3;
    cursor:hand;
    background-color:white; 
    position: relative;
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

#display_post_box {
	background-color: #e3e3e3;
	 -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

